body {
	text-align: center;
}

h4 {
	color: #a61c00;
}

.header {
	position: relative;
	width: 80%;
	left: 9%;
	text-align: left;
	font-size: 16px;
	font-family: Helvetica;
}

.main {
	position: absolute;
	width: 80%;
	height: 100%;
	left: 10%;
	text-align: left;
	font-family: Helvetica;
	font-size: 11px;
}
